@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
:root {
  --light1: #fefefc;
  --light2: white;
  --dark1: #716746;
  --dark2: #0e210f;
  --dark3: #3f4a3c;
  --dark4: #3e4a3d;
  --green1: #80ad6b;
  --green2: #9dc092;
  --green3: #2a8d38;
  --yellow: #f7f760;
  --accent: red;
  --accent-hover: rgb(202, 4, 4);
  --font-family: "Lato", sans-serif;
  --secondary-font: "Tenor Sans", sans-serif;
  --transition: all 0.4s ease-in-out;
  --border: 1px solid var(--light1);
  --radius: 2px;
  --radius-big: 5px;
  --box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.253);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1 {
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

h4 {
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--light2);
  color: var(--dark3);
  font-family: var(--font-family);
  font-weight: 400;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: calc(100vh - 8rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  -webkit-box-shadow: inset 2px 7px 6px 5px rgba(0, 0, 0, 0.568);
          box-shadow: inset 2px 7px 6px 5px rgba(0, 0, 0, 0.568);
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--light1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  z-index: 3;
  -webkit-box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.568);
          box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.568);
}

.logo img {
  width: 70%;
}

.nav-links {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
  position: relative;
}

.nav-btn {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  border: transparent;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--dark4);
}

.nav-btn:hover {
  color: var(--green1);
}

.nav-btn:hover.emergency {
  color: #ca0404;
}

.nav-btn:focus {
  font-size: 1.21rem;
  font-weight: 700;
}

.nav-btn i {
  margin-right: 0.5rem;
}

.nav-btn.emergency {
  color: red;
}

.nav-link {
  position: absolute;
  top: 4.9rem;
  font-size: 1.2rem;
  right: 0;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
  line-height: 2.1rem;
  background-color: var(--light1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 1;
  list-style: none;
  z-index: 1;
  border-radius: var(--radius);
  height: auto;
  overflow: hidden;
}

.nav-link li {
  text-align: center;
  background-color: var(--light1);
  color: var(--dark2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px solid var(--green2);
}

.nav-link li:hover {
  color: var(--light1);
  background-color: var(--green2);
}

.nav-link li:hover .main-link {
  color: var(--light1);
}

.main-link {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--dark2);
}

.main-link:hover {
  color: var(--green1);
}

.banner {
  width: 100%;
  height: calc(100vh - 8rem);
  overflow: hidden;
  overflow-y: auto;
}

.banner::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--green2);
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.479);
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.479);
}

.banner::-webkit-scrollbar-thumb {
  background-color: var(--light2);
  border-radius: var(--radius);
  -webkit-box-shadow: inset 0 0px 2px 1px rgba(0, 0, 0, 0.432);
          box-shadow: inset 0 0px 2px 1px rgba(0, 0, 0, 0.432);
}

.exclusive-menu {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
}

.ex-menu {
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--green1);
  border: 1px solid var(--green2);
  color: var(--light1);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0px 1px 4px 0px var(--dark3);
          box-shadow: 0px 1px 4px 0px var(--dark3);
}

.ex-menu:hover {
  background-color: var(--green2);
}

.ex-menu-content {
  width: 100%;
  background-color: var(--light1);
}

.promo {
  width: 100%;
  min-height: 3rem;
  background-color: var(--green1);
  color: var(--dark2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  line-height: 3rem;
  padding: 0 3rem;
  position: relative;
  overflow: hidden;
}

.promo-header {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-header h4 {
  letter-spacing: 0.2rem;
}

.promo-btn {
  background-color: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--dark2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.promo-btn:hover {
  color: var(--dark3);
}

.promo-info-container {
  line-height: 2rem;
  width: 80%;
  height: 15rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 15rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo-infos {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.promo-info {
  width: 100%;
  height: 70%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  place-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--green1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.555);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.555);
}

.promo-info-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.promo-info-image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo-info-text {
  width: 100%;
  height: 100%;
  line-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1rem;
  color: var(--dark2);
}

.promo-info-text h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.promo-info-text h4 {
  font-weight: 400;
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-image {
  width: 100%;
  height: 100%;
  background-color: #0e210f;
  overflow: hidden;
}

.home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -13rem;
     object-position: 0 -13rem;
}

.home-welcome {
  position: absolute;
  width: 70%;
  bottom: 5rem;
  right: 2rem;
  text-align: right;
}

.home-welcome .home-title {
  color: var(--light1);
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.home-welcome .home-text {
  color: var(--light1);
}

.ex-menu-content {
  background-color: var(--light1);
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ex-menu-header {
  width: 100%;
}

.ex-menu-header .line {
  display: block;
  margin: auto;
  width: 100px;
  height: 2px;
  background-color: var(--green1);
  margin-bottom: 1rem;
}

.ex-menu-intro {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ex-menu-intro .image {
  width: 100%;
  min-width: 250px;
  height: 200px;
}

.ex-menu-intro .image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.ex-menu-intro .info {
  width: 90%;
  text-align: justify;
}

.rawat-inap-pilihan {
  width: 85%;
  margin: auto;
}

.rawat-inap-rooms {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1.5rem;
  width: 100%;
}

.rawat-inap-room {
  background-color: var(--light2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: var(--radius);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  overflow: hidden;
}

.rawat-inap-info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  place-items: center;
  border-bottom: 0.5px solid var(--green2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.rawat-inap-info .image {
  width: 100%;
  height: 100%;
}

.rawat-inap-info .image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.rawat-inap-info .info {
  padding: 1rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rawat-inap-info .info .btn {
  font-variant: small-caps;
  font-weight: 300;
  color: var(--accent);
  font-size: 1rem;
  margin-top: 1rem;
  background-color: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.rawat-inap-info .info .btn:hover {
  color: var(--accent-hover);
  font-weight: 700;
}

.rawat-inap-info .info p {
  font-size: 0.8rem;
}

.rawat-inap-detail {
  width: 100%;
  height: auto;
  opacity: 1;
  width: 100%;
}

.rawat-inap-detail ul {
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.rawat-inap-detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
}

.rawat-inap-detail ul li h2 {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--green1);
  color: var(--light2);
  margin-right: 0.5rem;
}

.rawat-inap-detail ul li p {
  text-align: left;
  font-size: 0.8rem;
}
/*# sourceMappingURL=index.css.map */